<%- include('partials/header') %>

<div class="row">

<h1 style="text-align:center;">Create a New Campground</h1>

<div style="width: 30%; margin: 30px auto;">
<form action="/new/product" method="POST">
	<div class="form-group">
		<input class="form-control" type="text" name="product[name]" placeholder="name">
	</div>
	<div class="form-group">
		<input class="form-control" type="number" name="product[price]" placeholder="price" min="0">
	</div>
	<div class="form-group">
		<input class="form-control" type="text" name="product[image]" placeholder="image url">
	</div>
	<div class="form-group">
		<input class="form-control" type="text" name="product[description]" placeholder="description">
	</div>
	<div class="form-group">
        <select type="text" name="product[category]" placeholder="category">
            <option>Milk Products</option>
        </select>
    </div>
    <div class="form-group">
        <select type="text" name="product[subCategory]" placeholder="sub category">
            <option>Packed</option>
            <option>Unpacked</option>
        </select>
    </div>
    <div class="form-group">
        <select type="text" name="product[measurement]">
            <option>default</option>
            <option>kg</option>
            <option>gm</option>
        </select>
    </div>
    <div class="form-group">
        <select type="text" name="product[display]">
            <option value="true">true</option>
            <option value="false">false</option>
        </select>
    </div>
    <div class="form-group">
        <input class="form-control" type="text" name="product[variety1]" placeholder="variety">
    </div>
    <div class="form-group">
        <input class="form-control" type="text" name="product[variety2]" placeholder="variety">
    </div>
    <div class="form-group">
        <input class="form-control" type="text" name="product[variety3]" placeholder="variety">
    </div>
    <div class="form-group">
        <input class="form-control" type="text" name="product[variety4]" placeholder="variety">
    </div>
    <div class="form-group">
        <input class="form-control" type="text" name="product[variety5]" placeholder="variety">
    </div>
    <div class="form-group">
		<button class="btn btn-lg btn-primary btn-block">Submit!</button>
	</div>
</form>
</div>

</div>

<%- include('partials/footer') %>